body, html
{
    min-height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

#myNavbar
{
    padding: 1.5%;
}

#myContent
{
    display: flex;
    flex-direction: column;
    align-items: center;

}

#resumeDetails
{
    width: 100%;
    padding: 5%;
}

#personalDetails
{
    width: 100%;
}

#basicDetails
{
    padding: 2%;
}

#addressDetails
{
    padding: 2%;
}

#summary
{

}

#summaryDataDiv
{
    padding: 1%;
}

#educationDetails, #projects, #skills, #certifications, #achievements
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1%;
}

#educationInputs, #projectItem,#skillItem, .educationInputs, .projectItem, .skillItem, .certificateItem, #achInnerDiv
{
    width: 80%;
    padding: 2%;
}

#controls-education
{
    text-align: center;
    margin-bottom: 2%;
}

#controls-project, #controls-skill, #controls-certificate
{
    text-align: center;
}



